In [2]:
import pandas as pd

In [3]:
output_file_name = 'SE.tsv'

Read File

In [4]:
entry_level = pd.read_csv('../Data/Raw/SE_ENTRY_LEVEL.tsv', sep='\t')

In [5]:
mid_level = pd.read_csv('../Data/Raw/SE_MID_LEVEL.tsv', sep='\t')

In [6]:
senior_level = pd.read_csv('../Data/Raw/SE_SENIOR_LEVEL.tsv', sep='\t')

Get Columns

In [7]:
re_1 = entry_level.columns

In [8]:
rm_1 = mid_level.columns

In [9]:
rs_1 = senior_level.columns

Change Columns

In [10]:
columns = ['Key', 'Company', 'Position', 'Location', 'Category', 'Experience_Level', 'Salary']

In [11]:
entry_level.columns = columns

In [12]:
mid_level.columns = columns

In [13]:
senior_level.columns = columns

Add Data Before (Columns)

In [14]:
entry_level.loc[-1] = re_1
entry_level.index = entry_level.index + 1
entry_level.sort_index(inplace=True)

In [15]:
mid_level.loc[-1] = rm_1
mid_level.index = mid_level.index + 1
mid_level.sort_index(inplace=True)

In [21]:
mid_level['Category'] = 'SE'

In [16]:
senior_level.loc[-1] = rs_1
senior_level.index = senior_level.index + 1
senior_level.sort_index(inplace=True)

In [23]:
frame =  [entry_level, mid_level, senior_level]

In [24]:
df = pd.concat(frame, ignore_index=True)

In [26]:
df = df.drop_duplicates('Key')

In [27]:
df

,Key,Company,Position,Location,Category,Experience_Level,Salary
0,75944c680d865fb1,T. Rowe Price,Associate Software Engineer,"Owings Mills, MD",SE,ENTRY_LEVEL,NA
1,20a93e0e218adf2f,Reynolds and Reynolds,Entry Level Web Developer,"Dayton, OH 45430",SE,ENTRY_LEVEL,NaN
2,9c239bd1bfc9cbcc,HumanIT Solutions,Full Stack Developer,"Beavercreek, OH 45434",SE,ENTRY_LEVEL,NaN
3,5f43c759f96783a5,Muncy Industries,Software Engineer,"Turbotville, PA 17772",SE,ENTRY_LEVEL,"$60,101 - $75,086 a year"
4,a9c6f510fb30250a,Muncy Industries,Software Engineer,"Houston, TX 77042 (Briar Forest area)",SE,ENTRY_LEVEL,"$55,000 - $70,000 a year"
...,...,...,...,...,...,...,...
32906,072bf35ffdd8645d,"General Dynamics Mission Systems, Inc",Senior Software Engineer,"Hybrid remote in Bloomington, MN 55431",SE,SENIOR_LEVEL,"$146,048 - $162,000 a year"
32907,789179d9fd5c1d65,Metropolitan Transportation Authority,Application Developer 1-5 (TCU Represented),"New York, NY 10004 (Financial District area)",SE,SENIOR_LEVEL,"$57,100 - $81,572 a year"
32908,f9785443a3551b34,"MPIRE Technology Group, Inc.",Senior Cloud Engineer,"Hybrid remote in Alexandria, VA 22314",SE,SENIOR_LEVEL,"$117,161.90 - $141,098.20 a year"
32909,5f15c9ca93989af6,Talentech Consulting LLC,Statistical Programmer,Remote,SE,SENIOR_LEVEL,NaN
32910,ea2bf756466c7fb6,The DEI Group,Sr. Software Engineer/Architect,"Columbia, MD 21045",SE,SENIOR_LEVEL,"$100,000 - $130,000 a year"

Save dataframe

In [28]:
df.to_csv('../Data/Clean/' + output_file_name, sep='\t', index=False)

Verify

In [29]:
se = pd.read_csv('../Data/Clean/' + output_file_name, sep='\t')

In [30]:
se

,Key,Company,Position,Location,Category,Experience_Level,Salary
0,75944c680d865fb1,T. Rowe Price,Associate Software Engineer,"Owings Mills, MD",SE,ENTRY_LEVEL,NaN
1,20a93e0e218adf2f,Reynolds and Reynolds,Entry Level Web Developer,"Dayton, OH 45430",SE,ENTRY_LEVEL,NaN
2,9c239bd1bfc9cbcc,HumanIT Solutions,Full Stack Developer,"Beavercreek, OH 45434",SE,ENTRY_LEVEL,NaN
3,5f43c759f96783a5,Muncy Industries,Software Engineer,"Turbotville, PA 17772",SE,ENTRY_LEVEL,"$60,101 - $75,086 a year"
4,a9c6f510fb30250a,Muncy Industries,Software Engineer,"Houston, TX 77042 (Briar Forest area)",SE,ENTRY_LEVEL,"$55,000 - $70,000 a year"
...,...,...,...,...,...,...,...
3092,072bf35ffdd8645d,"General Dynamics Mission Systems, Inc",Senior Software Engineer,"Hybrid remote in Bloomington, MN 55431",SE,SENIOR_LEVEL,"$146,048 - $162,000 a year"
3093,789179d9fd5c1d65,Metropolitan Transportation Authority,Application Developer 1-5 (TCU Represented),"New York, NY 10004 (Financial District area)",SE,SENIOR_LEVEL,"$57,100 - $81,572 a year"
3094,f9785443a3551b34,"MPIRE Technology Group, Inc.",Senior Cloud Engineer,"Hybrid remote in Alexandria, VA 22314",SE,SENIOR_LEVEL,"$117,161.90 - $141,098.20 a year"
3095,5f15c9ca93989af6,Talentech Consulting LLC,Statistical Programmer,Remote,SE,SENIOR_LEVEL,NaN
3096,ea2bf756466c7fb6,The DEI Group,Sr. Software Engineer/Architect,"Columbia, MD 21045",SE,SENIOR_LEVEL,"$100,000 - $130,000 a year"