In [1]:
import re

In [2]:
import pandas as pd

In [3]:
df = pd.read_parquet('../Data/Indeed/indeed_merged.parquet')

In [4]:
df

,Key,Company,Position,Location,Category,Experience_Level,Salary,Description,Benefits
0,a9832db271ef3fc4,US Office of the Secretary of Defense,Operations Research Analyst,"Arlington, VA",BA,ENTRY_LEVEL,"$155,700 - $183,500 a year","DutiesThis is a Direct Hire Public Notice, und...",[]
1,7f4db33d08d5c611,Booz Allen Hamilton,"IT Business Analyst, Mid","Hybrid remote in Atlanta, GA",BA,ENTRY_LEVEL,"$52,100 - $119,000 a year",Job Description Location: ...,"['401(k)', '401(k) matching', 'Flexible schedu..."
2,0636da957769d80b,PRYSMIANGROUP.COM,SAP Intercompany Business Analyst (FT),"Highland Heights, KY",BA,ENTRY_LEVEL,None,Prysmian is a global cable manufacturer with...,[]
3,f2d5e432940c9f42,NYCM,Business Data Analyst (Hybrid),"Edmeston, NY 13335",BA,ENTRY_LEVEL,"$35,057 - $63,103 a year",The Business Data Analyst (Hybrid) will perfor...,[]
4,ec9509f4c611785a,Johns Hopkins University,Investment Operations Analyst,"Hybrid remote in Baltimore, MD 21211",BA,ENTRY_LEVEL,"$84,700 - $148,300 a year","The Johns Hopkins University, one of the world...",[]
...,...,...,...,...,...,...,...,...,...
25274,072bf35ffdd8645d,"General Dynamics Mission Systems, Inc",Senior Software Engineer,"Hybrid remote in Bloomington, MN 55431",SE,SENIOR_LEVEL,"$146,048 - $162,000 a year",Basic Qualifications : Requires a Bachelo...,"['401(k)', '401(k) matching', 'Flexible schedu..."
25275,789179d9fd5c1d65,Metropolitan Transportation Authority,Application Developer 1-5 (TCU Represented),"New York, NY 10004 (Financial District area)",SE,SENIOR_LEVEL,"$57,100 - $81,572 a year",Description Job Title: Application Developer A...,[]
25276,f9785443a3551b34,"MPIRE Technology Group, Inc.",Senior Cloud Engineer,"Hybrid remote in Alexandria, VA 22314",SE,SENIOR_LEVEL,"$117,161.90 - $141,098.20 a year","MPIRE Technology Group, Inc is seeking several...","['Dental insurance', 'Employee assistance prog..."
25277,5f15c9ca93989af6,Talentech Consulting LLC,Statistical Programmer,Remote,SE,SENIOR_LEVEL,None,We are looking for two experienced statistical...,"['401(k)', 'Dental insurance', 'Flexible spend..."
25278,ea2bf756466c7fb6,The DEI Group,Sr. Software Engineer/Architect,"Columbia, MD 21045",SE,SENIOR_LEVEL,"$100,000 - $130,000 a year",Senior Software Engineer works as part of an a...,[]

In [5]:
pat_1 = r"^Remote .*$"
pat_2 = r"^Hybrid remote in.*$"

loc = [line[10:] if re.search(pat_1, line) is not None else line[17:] if re.search(pat_2, line) is not None else line for line in df['Location']]

In [6]:
df['Clean_location'] = [l.replace("\xa0", " ") for l in loc]

In [7]:
df

,Key,Company,Position,Location,Category,Experience_Level,Salary,Description,Benefits,Clean_location
0,a9832db271ef3fc4,US Office of the Secretary of Defense,Operations Research Analyst,"Arlington, VA",BA,ENTRY_LEVEL,"$155,700 - $183,500 a year","DutiesThis is a Direct Hire Public Notice, und...",[],"Arlington, VA"
1,7f4db33d08d5c611,Booz Allen Hamilton,"IT Business Analyst, Mid","Hybrid remote in Atlanta, GA",BA,ENTRY_LEVEL,"$52,100 - $119,000 a year",Job Description Location: ...,"['401(k)', '401(k) matching', 'Flexible schedu...","Atlanta, GA"
2,0636da957769d80b,PRYSMIANGROUP.COM,SAP Intercompany Business Analyst (FT),"Highland Heights, KY",BA,ENTRY_LEVEL,None,Prysmian is a global cable manufacturer with...,[],"Highland Heights, KY"
3,f2d5e432940c9f42,NYCM,Business Data Analyst (Hybrid),"Edmeston, NY 13335",BA,ENTRY_LEVEL,"$35,057 - $63,103 a year",The Business Data Analyst (Hybrid) will perfor...,[],"Edmeston, NY 13335"
4,ec9509f4c611785a,Johns Hopkins University,Investment Operations Analyst,"Hybrid remote in Baltimore, MD 21211",BA,ENTRY_LEVEL,"$84,700 - $148,300 a year","The Johns Hopkins University, one of the world...",[],"Baltimore, MD 21211"
...,...,...,...,...,...,...,...,...,...,...
25274,072bf35ffdd8645d,"General Dynamics Mission Systems, Inc",Senior Software Engineer,"Hybrid remote in Bloomington, MN 55431",SE,SENIOR_LEVEL,"$146,048 - $162,000 a year",Basic Qualifications : Requires a Bachelo...,"['401(k)', '401(k) matching', 'Flexible schedu...","Bloomington, MN 55431"
25275,789179d9fd5c1d65,Metropolitan Transportation Authority,Application Developer 1-5 (TCU Represented),"New York, NY 10004 (Financial District area)",SE,SENIOR_LEVEL,"$57,100 - $81,572 a year",Description Job Title: Application Developer A...,[],"New York, NY 10004 (Financial District area)"
25276,f9785443a3551b34,"MPIRE Technology Group, Inc.",Senior Cloud Engineer,"Hybrid remote in Alexandria, VA 22314",SE,SENIOR_LEVEL,"$117,161.90 - $141,098.20 a year","MPIRE Technology Group, Inc is seeking several...","['Dental insurance', 'Employee assistance prog...","Alexandria, VA 22314"
25277,5f15c9ca93989af6,Talentech Consulting LLC,Statistical Programmer,Remote,SE,SENIOR_LEVEL,None,We are looking for two experienced statistical...,"['401(k)', 'Dental insurance', 'Flexible spend...",Remote
25278,ea2bf756466c7fb6,The DEI Group,Sr. Software Engineer/Architect,"Columbia, MD 21045",SE,SENIOR_LEVEL,"$100,000 - $130,000 a year",Senior Software Engineer works as part of an a...,[],"Columbia, MD 21045"

In [8]:
df.to_parquet('../Data/Indeed/clean_location.parquet')

In [25]:
unique_location = df['Clean_location'].unique()

In [26]:
pat = r".*[Rr]emote.*$"

In [27]:
locations = []
for i in unique_location:
    if re.search(pat, i) is None:
        locations.append(i)

In [29]:
with open('loc.txt', 'w') as file:
    for i in locations:
        file.write(i + '\n')
file.close()

In [30]:
locations

['Arlington, VA',
 'Atlanta, GA',
 'Highland Heights, KY',
 'Edmeston, NY 13335',
 'Baltimore, MD 21211',
 'Huntsville, AL',
 'North Providence, RI 02904 (Valley area)',
 'Fort Huachuca, AZ',
 'United States',
 'Boston, MA',
 'Birmingham, AL',
 'Danvers, MA',
 'Washington, DC 20011 (Catholic University-Brookland area)',
 'Folsom, CA 95630',
 'St. Louis, MO 63127',
 'Tempe, AZ 85282',
 'Dallas, TX 75201 (Downtown area)',
 'Edmonds, WA 98026',
 'Kansas City, MO 64108 (Hospital Hill area)',
 'Crystal City, VA 22202',
 'Dallas, TX 75235 (Dallas Love Field area)',
 'Jacksonville, FL 32246 (Windy Hill area)',
 'Victorville, CA 92395',
 'Monee, IL',
 'Baltimore, MD 21202 (Downtown area)',
 'Salt Lake City, UT 84112 (East Bench area)',
 'Tamarac, FL 33321',
 'Chantilly, VA',
 'McLean, VA',
 'Wallops Island, VA',
 'Nashville, TN 37203',
 'Belmont, CA 94002',
 'Austin, TX',
 'Oceanside, CA',
 'Washington, DC 20423',
 'Brentwood, TN 37027',
 'Lanham, MD 20706',
 'Miami, FL 33175',
 'Falmouth, ME 04105',
 'Houston, TX 77015',
 'Pasadena, TX 77504',
 'Concord, NH 03301',
 'Jacksonville, FL 32257 (Mandarin Station - Losco area)',
 'Chesapeake, VA 23326 (Greenbrier West area)',
 'New York, NY',
 'Memphis, TN 38122 (Raleigh area)',
 'Provo, UT 84606',
 'San Diego, CA 92103 (Hillcrest area)',
 'San Mateo, CA',
 'Mounds View, MN 55112',
 'Chesterfield, MO 63017',
 'Lenoir, NC 28645',
 'Wilson, NC 27893',
 'Jackson, MI',
 'Houston, TX 77042 (Westchase area)',
 'Chantilly, VA 20151',
 'Plano, TX 75024',
 'San Antonio, TX 78218',
 'Saint Paul, MN 55128',
 'Alpharetta, GA',
 'Lansing, MI',
 "New York, NY 10001 (Hell's Kitchen area)",
 'Parkersburg, WV 26101',
 'Holyoke, MA 01040',
 'New York, NY 10010 (Flatiron area)',
 'Seattle, WA 98101 (Downtown area)',
 'Framingham, MA',
 'New York, NY 10019 (Midtown area)',
 "Chicago, IL 60631 (O'Hare area)",
 'Riverside, CA (Canyon Crest area)',
 'Tampa, FL 33613',
 'Bothell, WA 98021',
 'Urbana, IL',
 'Denton, TX',
 'Dayton, NJ 08810',
 'Columbus, OH 43219',
 'Nashville, TN',
 'Carthage, IL 62321',
 'Nashville, TN 37214',
 'Beavercreek, OH 45431',
 'Manhattan Beach, CA 90266',
 'Jacksonville, FL 32202 (Downtown area)',
 'Raleigh, NC 27609 (North Raleigh area)',
 'Richmond, VA',
 'Boise, ID 83720 (Downtown area)',
 'Greenville, SC 29607',
 'Camden, NJ 08102 (Central Waterfront area)',
 'Tyler, TX',
 'Camden, NJ 08102',
 'Sacramento, CA 95833',
 'Houston, TX 77056 (Uptown area)',
 'Kansas City, MO 64118 (Briarcliff West area)',
 'Arkansas',
 'Phoenix, AZ 85054',
 'San Diego, CA 92093 (Torrey Pines area)',
 'Madison, WI 53784 (Burr Oaks area)',
 'Louisville, KY',
 'Ashburn, VA',
 'Hudson, OH 44236',
 'Albany, NY 12236',
 'Bristol, PA 19007',
 'Greer, SC 29650',
 'Los Angeles, CA',
 'Muskegon, MI 49442',
 'Kansas City, MO 64146',
 'Belleville, MI 48111',
 'Texas',
 'Los Angeles, CA 90010 (Westlake area)',
 'Saint Paul, MN 55101',
 'Raleigh, NC',
 'New Jersey',
 'Woodbridge, NJ 07095',
 'San Diego, CA',
 'Charleston, SC 29401',
 'Huntsville, AL 35816',
 'Cleveland, OH 44114',
 'Houston, TX',
 'Tulsa, OK 74101',
 'Denver, CO 80206 (Cherry Creek area)',
 'Pittsburgh, PA',
 'Trenton, NJ',
 'Miami, FL 33131 (Brickell area)',
 'Auburn Hills, MI 48326',
 'Bellevue, WA',
 'Albuquerque, NM 87109 (Academy Acres North area)',
 'Norwich, CT 06360',
 'Charlotte, NC 28217 (Eagle Lake area)',
 'Spring, TX',
 'Atlanta, GA 30308 (Midtown area)',
 'Fort Eisenhower, GA',
 'Spartanburg, SC 29303',
 'Kennett Square, PA',
 'Indianapolis, IN 46240',
 'Knoxville, TN 37922',
 'Fort Wayne, IN 46825',
 'Springfield, IL 62711',
 'Louisville, KY 40241',
 'De Pere, WI',
 'Hartford, CT 06107',
 'Lexington, KY 40509',
 'Elkhart, IN 46516',
 'Grand Rapids, MI 49504',
 'Memphis, TN 38118',
 'Austin, TX 78746',
 'Los Angeles, CA 90006',
 'Poway, CA',
 'Columbus, OH 43215',
 'Albany, NY 12234 (Central Avenue area)',
 'El Campo, TX 77437',
 'Houston, TX 77046',
 'Chicago, IL 60654',
 'Dallas, TX 75201',
 'Atlanta, GA 30326',
 'Fort Lauderdale, FL 33301',
 'Miami, FL 33131',
 'South Bend, IN 46601',
 'Chicago, IL',
 'Chicago, IL 60606',
 'Washington, DC 20003 (Capitol Hill area)',
 'Hazleton, PA',
 'Aliso Viejo, CA 92653',
 'Austin, TX 78735 (East Oak Hill area)',
 'Everett, WA',
 'San Antonio, TX 78249',
 'Golden, CO',
 'Columbia, SC',
 'Columbia, SC 29201',
 'Bethlehem, PA',
 'Jacksonville, FL',
 'Atlanta, GA 30339',
 'Little Rock, AR 72206',
 'Baltimore, MD',
 'Vandenberg AFB, CA 93437',
 'Pennsylvania',
 'Oakbrook Terrace, IL',
 'Atlanta, GA 30328',
 'Grand Rapids, MI',
 'Albany, NY 12227',
 'Orlando, FL 32828',
 'Gardnerville, NV',
 'Camp Hill, PA 17011',
 'Tacoma, WA 98402 (New Tacoma area)',
 'Newton, MA 02459',
 'Thief River Falls, MN 56701',
 'Dallas, TX',
 'New York State',
 'Coral Springs, FL 33065',
 'Washington, DC',
 'Farmers Branch, TX',
 'Mechanicsville, VA 23116',
 'Schaumburg, IL 60196',
 'Cary, NC',
 'Columbia, MO',
 'Cherry Hill, NY',
 'Minnesota',
 'Newark, NJ 07102',
 'Plymouth, MN 55441',
 'Washington, DC 20024 (Southwest Waterfront area)',
 'Chicago, IL 60007',
 'Madison, WI 53713',
 'Twin Falls, ID 83301',
 'Charleston, SC',
 'Northbrook, IL',
 'Sacramento County, CA',
 'Milwaukee, WI',
 'Carroll, IA 51401',
 'Irving, TX 75039 (Cottonwood area)',
 'Las Vegas, NV 89102 (Rancho Charleston area)',
 'Middleton, WI',
 'North Dakota',
 'Columbus, OH 43229 (Forest Park East area)',
 'East Newark, NJ 07029',
 'Miami, FL',
 'Long Beach, CA 90810',
 'Brooklyn, NY',
 'Bridgewater, NJ 08807',
 'Medway, MA 02053',
 'Akron, OH 44307 (Downtown area)',
 'Eagle, ID',
 'St. Louis, MO 63131',
 'Grand Rapids, MI 49501 (Heritage Hill area)',
 'Dallas, TX 75238 (Northeast Dallas area)',
 'Ontario, CA 91761',
 'Detroit, MI 48226 (Downtown area)',
 'Philadelphia, PA',
 'Wake County, NC',
 'Milltown, NJ 08850',
 'Johns Creek, GA 30097',
 'Pecos, TX 79772',
 'Frisco, TX',
 'Fort Lauderdale, FL 33315 (Edgewood area)',
 'Denver, CO',
 'Nashville, TN 37243 (North Capitol area)',
 'St. Louis, MO 63141',
 'Phoenix, AZ 85007 (Central City area)',
 'Visalia, CA',
 'Chula Vista, CA 91909',
 'Mansfield, TX 76063',
 'Meridian, ID 83642',
 'New York, NY 10172',
 'Oklahoma City, OK 73120',
 'Hanover, MD 21076',
 'Philadelphia, PA 19103 (Logan Square area)',
 'Naperville, IL 60563',
 'Mahwah, NJ 07430',
 'Eden Prairie, MN 55346',
 'Papillion, NE 68046',
 'Arlington, VA 22204',
 'Miami, FL 33157',
 'Baltimore, MD 21230',
 'Irving, TX 75039 (Freeport/Hackberry area)',
 'Atlanta, MI 49709',
 'Indianapolis, IN',
 'Phoenix, AZ 85018 (Camelback East area)',
 'Charlotte, NC',
 'Raleigh, NC 27604',
 'Saint Petersburg, FL 33701',
 'Grand Rapids, MN 55744',
 'Dallas, TX 75254 (Far North area)',
 'Purchase, NY',
 'McKinney, TX 75070',
 'Sayre, PA 18840',
 'Cincinnati, OH 45202 (Over-The-Rhine area)',
 'Centerville, OH 45459',
 'Irving, TX 75063 (Freeport/Hackberry area)',
 'Johnson City, TN 37604',
 'Dearborn, MI 48126',
 'Arlington, VA 22201',
 'San Jose, CA 95134 (North San Jose area)',
 'Baton Rouge, LA 70810 (Mayfair area)',
 'Malvern, PA',
 'Canyonville, OR 97417',
 'Sterling, VA 20164',
 'Boise, ID 83702 (West Downtown area)',
 'Dayton, OH 45433',
 'Midvale, UT',
 'Southington, CT 06489',
 'Reston, VA (Sunset Hills area)',
 'Nashville, TN 37201',
 'Secaucus, NJ 07094',
 'Austin, PA 16720',
 'Fenton, MO 63026',
 'Boston, MA 02108 (Beacon Hill area)',
 'Orlando, FL',
 'Austin, TX 78744',
 'Sugar Land, TX 77478',
 'Los Angeles, CA 90037 (South Los Angeles area)',
 'Dayton, OH',
 'Jonesboro, GA 30236',
 'Fort Worth, TX 76131 (Far North area)',
 'Boise, ID 83713 (West Valley area)',
 'Phoenix, AZ 85004 (Encanto area)',
 'Brooklyn, NY 11201',
 'Chesapeake, VA 23320 (Greenbrier East area)',
 'Fayetteville, AR 72703',
 'Mount Horeb, WI 53572',
 'Grand Rapids, MI 49509',
 'Boca Raton, FL 33431',
 'San Francisco, CA 94128',
 'Charlotte, NC 28206',
 'Savage, MN',
 'San Antonio, TX 78204 (Lone Star area)',
 'Lakewood, CO 80235',
 'Columbia, SC 29209 (Brandon Acres - Cedar Terrace area)',
 'Greenwood Village, CO 80111',
 'Oak Creek, WI 53154',
 'Burbank, CA 91505',
 'Scottsdale, AZ',
 'Houston, TX 77064',
 'Washington, DC 20540 (Capitol Hill area)',
 'Whitehouse Station, NJ',
 'Sacramento, CA 95814 (Mansion Flats area)',
 'Richmond, VA 23173 (University of Richmond area)',
 'Wichita, KS',
 'Pittsburgh, PA 15237',
 'Midvale, UT 84047',
 'Detroit, MI 48201 (Downtown area)',
 'Saint Paul, MN 55101 (Downtown area)',
 'Salt Lake City, UT 84120',
 'New Canaan, CT 06840',
 'Columbus, IN 47201',
 'Mechanicsburg, PA 17055',
 'Farmington Hills, MI 48334',
 'Portsmouth, NH',
 'Sheboygan, WI 53081',
 'Paoli, PA 19301',
 'Costa Mesa, CA 92626',
 'Princeton, NJ 08540',
 'Brown Deer, WI 53223 (Bradley Estates area)',
 'Clayton County, GA',
 'Garland, TX 75042',
 'Northridge, CA 91325',
 'Fargo, ND 58104',
 'Sunnyvale, CA 94089 (Lakewood area)',
 'Winter Haven, FL 33881',
 'Scottsdale, AZ 85253',
 'Atlanta, GA 30334',
 'San Francisco, CA 94103 (South Of Market area)',
 'Lake Forest, IL 60045',
 'Bonita Springs, FL 34134',
 'Pleasanton, CA 94588',
 'Hicksville, NY 11801',
 'Little Rock, AR 72201',
 'Salt Lake City, UT',
 'Elmsford, NY 10523',
 'Riverside, CA 92521 (University area)',
 'Richland, SC',
 'Altamonte Springs, FL 32714',
 'Whippany, NJ 07981',
 'Santa Monica, CA 90401 (Wilshire/Montana area)',
 'Arlington, TX',
 'Boston, MA 02215',
 'Madison, WI 53717',
 'Andover, MA',
 'Chesapeake, VA 23320',
 'New York, NY 10036',
 'New York, NY 10004 (Financial District area)',
 'Norwalk, CA 90650',
 'Cheyenne, WY',
 'Burbank, CA',
 'Great Neck, NY 11022',
 'Nashville, TN (Downtown area)',
 'Neenah, WI',
 'Cleveland, OH 44135 (Puritas-Longmead area)',
 'Delaware',
 'Bentonville, AR 72712',
 'Washington, DC 20301',
 'Berkeley Heights, NJ 07922',
 'San Antonio, TX',
 'Mechanicsburg, PA 17050',
 'Stafford, VA',
 'Atlanta, GA 30303 (Downtown area)',
 'Winter Haven, FL',
 'Harrisburg, PA',
 'Melville, NY 11747',
 'Salem, OR',
 'Maitland, FL 32751',
 'Jersey City, NJ',
 'Greenville, SC 29601',
 'Arlington, TX 76011 (East area)',
 'Fremont, CA 94538',
 'Tallahassee, FL 32399',
 'Smyrna, GA',
 'Lewisville, TX 75057',
 'Opelika, AL 36801',
 'Cedar Rapids, IA 52404',
 'Johnson City, TN',
 'Atlanta, GA 30315 (Lakewood Heights-Southeastern area)',
 'Boston, MA 02116 (Back Bay area)',
 'Helena, MT 59601',
 'California',
 'Richmond, VA 23219 (City Center area)',
 'Marlboro, NJ',
 'Milford, OH 45150',
 'Omaha, NE 68102',
 'Chicago, IL 60631',
 'Dunwoody, GA 30338',
 'Mount Laurel, NJ',
 'San Antonio, TX 78229',
 'Pittsburgh, PA 15219 (Central Business District area)',
 'Kirtland AFB, NM',
 'Chicago, IL 60633 (Calumet River area)',
 'San Diego, CA 92101 (Core-Columbia area)',
 'Fort Meade, MD 20755',
 'Las Vegas, NV 89109 (The Strip area)',
 'Jeffersonville, IN',
 'South Bend, IN',
 'Jacksonville, FL 32204 (Mixon Town area)',
 'Fort Lauderdale, FL 33301 (Downtown area)',
 'Fort Lauderdale, FL 33309',
 'Jersey City, NJ 07310 (The Waterfront area)',
 'Eugene, OR 97401 (West University area)',
 'Chandler, AZ',
 'Sylva, NC',
 'Rahway, NJ 07065',
 'Hernando, MS 38632',
 'Conyers, GA 30012',
 'Vernon Hills, IL 60061',
 'Plymouth, MN 55447',
 'Siloam Springs, AR 72761',
 'Jacksonville, FL 32210 (Cedar Hills Estate area)',
 'New York, NY 10019',
 'Miami Beach, FL 33139 (Flamingo Lummus area)',
 'Emeryville, CA 94608',
 'Fairfield, NJ 07004',
 'Merrimack, NH 03054',
 'Long Island City, NY 11101',
 'Raleigh, NC 27601',
 'Philadelphia, PA 19019 (Somerton area)',
 'Denton, TX 76201',
 'Vega Baja, PR 00693',
 'El Paso, TX',
 'Fort Lauderdale, FL 33301 (Flagler Heights area)',
 'Knoxville, TN',
 'Grand Island, NE 68801',
 'Wilkes-Barre, PA 18701',
 'Nashville, TN 37203 (SoBro area)',
 'Hutchinson, KS',
 'Miami, FL 33135',
 'Lake Charles, LA 70601',
 'Aurora, IL 60504',
 'San Francisco, CA',
 'Dallas, TX 75219 (Oak Lawn area)',
 'Taylorville, IL 62568',
 'Boston, MA 02109',
 'Sacramento, CA 95811',
 'Midland, MI 48640',
 'Boone, NC 28607',
 'Savoy, IL 61874',
 'Lanham, MD',
 'Carmel, IN 46290',
 'Princeton, NJ 08544',
 'Lincoln, NE 68512',
 'Saratoga Springs, NY 12866',
 'Tempe, AZ 85284',
 'Orange, CA',
 'Sandy, UT',
 'Mooresville, NC',
 'Birmingham, AL 35242',
 'St. Louis, MO',
 'Hawthorne, CA',
 'Sacramento, CA (Gateway Center area)',
 'Irvine, CA 92618',
 'Louisville, KY 40299',
 'Troy, MI 48084',
 'University Center, MI',
 'St. Louis, MO 63134',
 'Seattle, WA 98134 (Industrial District area)',
 'Joint Base Lewis McChord, WA',
 'Folsom, CA',
 'Vancouver, WA 98684',
 'Fort Worth, TX',
 'Mount Pleasant, SC 29464',
 'Patrick Afb, FL 32925',
 'Bolingbrook, IL 60440',
 'Fishkill, NY 12524',
 'Jacksonville, FL 32224',
 'Springfield, IL',
 'Carmel, IN 46032',
 'Bloomington, MN',
 'Irvine, CA 92614',
 'Cincinnati, OH 45245',
 'Charleston, WV',
 'Austin, TX 78731',
 'Blacksburg, VA',
 'Grand Junction, CO 81506',
 'Herndon, VA',
 'Torrance, CA 90501',
 'Irving, TX',
 'Kenosha, WI 53140',
 'Fort Belvoir, VA 22060',
 'Beaumont, TX 77701',
 'Orlando, FL 32832',
 'Lubbock, TX 79415',
 'Seattle, WA',
 'Las Vegas, NV 89118 (Spring Valley area)',
 'Irving, TX 75063',
 'Ridgefield, CT',
 'Boca Raton, FL 33428',
 'Markle, IN 46770',
 'North Carolina',
 'Cedar Rapids, IA',
 'Fountain Inn, SC 29644',
 'West Greenwich, RI 02817',
 'Columbia, SC 29210 (Saint Andrews area)',
 'Houston, TX (Greenspoint area)',
 'Irvine, CA 92606',
 'Tallahassee, FL 32301',
 'San Juan, PR 00917',
 'Minneapolis, MN',
 'Aberdeen Proving Ground, MD 21005',
 'Raleigh, NC 27607',
 'San Antonio, TX 78217 (Airport area)',
 'Seattle, WA 98195 (University District area)',
 'Olympia, WA 98501 (Downtown area)',
 'Lebanon, IN 46052',
 'Knoxville, TN 37996 (Fort Sanders area)',
 'Fort Worth, TX 76108',
 'Houston, TX 77018',
 'Fairfield, OH',
 'Allegan, MI 49010',
 'Mobile, AL 36607 (North Crichton area)',
 'Albany, NY 12247',
 'Charlotte, NC 28209 (Barclay Downs area)',
 'Washington, DC 20001 (Sursum Corda Cooperative area)',
 'Sandy Springs, GA',
 'Santa Clara, CA',
 'Anaheim, CA',
 'Milwaukee, WI 53203 (Kilbourn Town area)',
 'Albany, NY 12203',
 'Temple, TX',
 'Laurel, MD 20723',
 'Detroit, MI',
 'Foxborough, MA 02035',
 'Woburn, MA 01801',
 'Mount Vernon, WA 98273',
 'San Leandro, CA',
 'Waltham, MA',
 'Winchester, VA 22603',
 'Tampa, FL 33647',
 'Newark, DE 19711',
 'New York, NY 10111 (Midtown area)',
 'San Juan, PR',
 'Cupertino, CA',
 'Hartford, CT',
 'Miami, FL 33126 (Flagami area)',
 'Alpharetta, GA 30004',
 'Hillsboro, OR',
 'Bedford, MA',
 'Englewood, CO 80112',
 'Phoenix, AZ 85034 (Central City area)',
 'Dallas, TX 75202 (Downtown area)',
 'Alameda, CA',
 'St. Louis, MO 63110 (Botanical Heights area)',
 'New York, NY 10167',
 'Boston, MA 02115 (Fenway-Kenmore area)',
 'Washington, DC 20004 (Downtown area)',
 'Omaha, NE 68124',
 'San Jose, CA',
 'Phoenix, AZ',
 'Buffalo, NY 14208 (Delaware Park area)',
 'Olympia, WA 98501',
 'Olympia, WA 98504',
 'Guaynabo, PR 00965',
 'Summerfield, FL 34491',
 'Conroe, TX',
 'Plano, TX 75075',
 'Morris Plains, NJ 07950',
 'Savannah, GA 31404 (Victory Manor/East Hill/Donwood area)',
 'Murrieta, CA 92563',
 'Maple Grove, MN 55311',
 'Des Moines, IA 50266',
 'Reynoldsburg, OH 43068',
 'Sarasota, FL 34243',
 'West Palm Beach, FL 33411',
 'Miami, FL 33188',
 'Nashua, NH 03063',
 'Devon, PA 19333',
 'Cheektowaga, NY 14225',
 'Woodland Hills, CA 91367',
 'Everett, WA 98204 (Holly area)',
 'Houston, TX 77090',
 'Miami, FL 33169',
 'Pearland, TX 77584',
 'McDonough, GA 30253',
 'Sacramento, CA 95832 (Meadowview area)',
 'Dayton, OH 45430',
 'Fairfax, VA 22033',
 'Arlington, VA 22203 (Bluemont area)',
 'Utica, MI 48315',
 'Cincinnati, OH',
 'Herndon, VA 20171',
 'Broomfield, CO',
 'Fort Walton Beach, FL 32548',
 'Lenexa, KS 66219',
 'Creve Coeur, MO',
 'East Brunswick, NJ 08816',
 'Gaylord, MI 49735',
 'Iselin, NJ 08830',
 'San Luis Obispo, CA 93407',
 'Maryville, TN 37801',
 'Bethesda, MD',
 'Fresno, CA 93725',
 'Plainview, NY 11803',
 'Quincy, IL 62305',
 'Jefferson City, MO 65101',
 'Chanhassen, MN 55317',
 'Wilmington, DE 19808',
 'San Francisco, CA 94105 (Financial District/South Beach area)',
 'Pflugerville, TX',
 'Valparaiso, IN 46383',
 'Cincinnati, OH 45242',
 'Atlanta, GA 30345',
 'Houston, TX 77041',
 'Elk Grove Village, IL 60007',
 'Kansas City, MO 64108 (Crown Center area)',
 'Weed, CA 96094',
 'Astoria, OR 97103',
 'Dalton, GA 30720',
 'Renton, WA',
 'Austin, TX 78721 (Martin Luther King-Hwy 183 area)',
 'Portland, OR 97201',
 'Saint Cloud, MN 56301',
 'Suffolk, VA 23435',
 'Culver City, CA',
 'Addison, IL 60101',
 'Oaks, PA',
 'Winston-Salem, NC 27103',
 'Wichita, KS 67205',
 'Urbandale, IA 50323',
 'Lynnwood, WA 98036',
 'Wilmington, MA 01887',
 'Lorton, VA 22199',
 'Salt Lake City, UT 84101',
 'Holland, MI',
 'St. Louis, MO 63110',
 'Winchester, VA 22601',
 'Memphis, TN 38119 (River Oaks-Kirby-Balmoral area)',
 'Apple Valley, CA 92307',
 'Pittsburgh, PA 15205',
 'Washington, DC 20004',
 'Alexandria, VA 22311 (Alexandria West area)',
 'Moon, PA',
 'Bloomington, MN 55425',
 'Tampa, FL 33607',
 'Voorhees, NJ',
 'Seattle, WA 98194',
 'Lafayette, LA 70506',
 'Colorado Springs, CO 80920 (Briargate area)',
 'Edison, NJ 08837',
 'Santa Ana, CA',
 'Baltimore, MD 21218',
 'Allen, TX 75013',
 'Long Beach, CA 90802',
 'Baltimore, MD 21287 (Orangeville area)',
 'Santa Rosa, CA 95401',
 'Los Angeles, CA 91367',
 'Thousand Oaks, CA 91362',
 'Newark, DE 19713',
 'New York, NY 10172 (Gramercy area)',
 'Washington, DC 20003 (Navy Yard area)',
 'Georgia',
 'Marlborough, MA 01752 (Old Mitchell School area)',
 'Lexington Park, MD 20653',
 'Vienna, VA',
 'Thousand Oaks, CA',
 'Manhattan, NY 10013 (Tribeca area)',
 'Michigan City, IN',
 'Tampa, FL 33674 (Seminol Heights area)',
 'Woodlawn, MD',
 'Indianapolis, IN 46222 (West Indianapolis area)',
 'Wilmington, DE 19803',
 'New York, NY 10036 (Midtown area)',
 'San Jose, CA 95128 (West San Jose area)',
 'Beaverton, OR 97078',
 'Orlando, FL 32826',
 'West Chester, PA 19380',
 'Tullahoma, TN 37388',
 'Savannah, GA 31401 (North Historic District area)',
 'Mason, OH 45040',
 'Houston, TX 77030',
 'Muscatine, IA 52761',
 'North Wales, PA',
 'Livermore, CA 94551',
 'Tacoma, WA',
 'Boston, MA 02110 (Downtown area)',
 'Nashville, TN 37208 (Elizabeth Park area)',
 'Wellesley Hills, MA 02481',
 'Palo Alto, CA 94304',
 'Fort Worth, TX 76137 (Far North area)',
 'Morgantown, PA 19543',
 'Oakland Park, FL 33334',
 'Flint, MI',
 'Eatonton, GA 31024',
 'Linthicum Heights, MD',
 'Salt Lake City, UT 84108 (East Bench area)',
 'Minneapolis, MN 55402 (Downtown West area)',
 'Crofton, MD 21114',
 'Benton Harbor, MI 49022',
 'Hanover, MD',
 'Dahlgren, VA',
 'Decatur, GA 30033',
 'Maitland, FL 32794',
 'Honolulu, HI 96819 (Daniel K. Inouye International Airport area)',
 'Hershey, PA 17033',
 'Norwell, MA 02061',
 'Kansas City, MO',
 'Henderson, NV 89074 (Gibson Springs area)',
 'Midlothian, VA 23113',
 'Hackensack, NJ 07601',
 'Dallas, TX 75254',
 'Kansas City, KS 66105',
 'Crystal City, VA',
 'Phoenix, AZ 85021 (North Mountain area)',
 'Arizona',
 'Rosemont, IL 60018',
 'Denver, CO 80202 (Union Station area)',
 'Murray, UT 84123',
 'Getzville, NY 14068',
 'Saint Paul, MN 55145',
 'Durham, NC',
 'Washington State',
 'West Des Moines, IA 50265',
 'Chicago, IL 60603 (The Loop area)',
 'Fresno, CA 93740 (Hoover area)',
 'Lewisville, TX',
 'Jacksonville, FL 32256',
 'Dallas, TX 75229 (Northwest Dallas area)',
 'Knoxville, TN 37923',
 'Fishers, IN',
 'Pittsburgh, PA 15220',
 'Atlanta, GA 30309 (Midtown area)',
 'Charlotte, NC 28202',
 'Washington, DC 20036',
 'Minneapolis, MN 55405',
 'Boston, MA 02108 (Downtown area)',
 'La Vista, NE 68128',
 'Corcoran, CA 93212',
 'Michigan',
 'Stennis Space Center, MS 39529',
 'Ann Arbor, MI 48109',
 'Butler, PA',
 'Illinois',
 'Berkeley, CA 94720',
 'New York, NY 10464 (City Island area)',
 'Little Rock, AR 72223',
 'Tampa, FL',
 'Lake Forest, IL',
 'Minneapolis, MN 55401',
 'Yorktown, VA 23692',
 'Syracuse, NY',
 'Parsippany, NJ 07054',
 'Dimondale, MI',
 'Saint Charles, MO',