In [1]:
import pandas as pd

In [31]:
output_file_name = 'BA.tsv'

Read File

In [2]:
entry_level = pd.read_csv('../Data/Raw/BA_ENTRY_LEVEL.tsv', sep='\t')

In [3]:
mid_level = pd.read_csv('../Data/Raw/BA_MID_LEVEL.tsv', sep='\t')

In [4]:
senior_level = pd.read_csv('../Data/Raw/BA_SENIOR_LEVEL.tsv', sep='\t')

Get Columns

In [8]:
re_1 = entry_level.columns

In [10]:
rm_1 = mid_level.columns

In [11]:
rs_1 = senior_level.columns

Change Columns

In [12]:
columns = ['Key', 'Company', 'Position', 'Location', 'Category', 'Experience_Level', 'Salary']

In [13]:
entry_level.columns = columns

In [14]:
mid_level.columns = columns

In [15]:
senior_level.columns = columns

Add Data Before (Columns)

In [23]:
entry_level.loc[-1] = re_1
entry_level.index = entry_level.index + 1
entry_level.sort_index(inplace=True)

In [24]:
mid_level.loc[-1] = rm_1
mid_level.index = mid_level.index + 1
mid_level.sort_index(inplace=True)

In [25]:
senior_level.loc[-1] = rs_1
senior_level.index = senior_level.index + 1
senior_level.sort_index(inplace=True)

In [28]:
frame =  [entry_level, mid_level, senior_level]

In [33]:
df = pd.concat(frame, ignore_index=True)

In [34]:
df

,Key,Company,Position,Location,Category,Experience_Level,Salary
0,70f1879fbe39cff4,TRESUME,Entry level Business /Data Analyst,"Richmond, VA",BA,ENTRY_LEVEL,$30 - $35 an hour
1,70f1879fbe39cff4,TRESUME,Entry level Business /Data Analyst,"Richmond, VA",BA,ENTRY_LEVEL,$30 - $35 an hour
2,a9832db271ef3fc4,US Office of the Secretary of Defense,Operations Research Analyst,"Arlington, VA",BA,ENTRY_LEVEL,"$155,700 - $183,500 a year"
3,7f4db33d08d5c611,Booz Allen Hamilton,"IT Business Analyst, Mid","Hybrid remote in Atlanta, GA",BA,ENTRY_LEVEL,"$52,100 - $119,000 a year"
4,0636da957769d80b,PRYSMIANGROUP.COM,SAP Intercompany Business Analyst (FT),"Highland Heights, KY",BA,ENTRY_LEVEL,NaN
...,...,...,...,...,...,...,...
2992,778a13995241bbd2,Connvertex Technologies Inc.,Senior Business Analyst,"Raleigh, NC 27601 (South Central area)",BA,SENIOR_LEVEL,NaN
2993,b1bfbf75cfadfa19,Houston Independent School District,Sr Business Systems Analyst (6147),"Houston, TX 77092 (Lazybrook - Timbergrove area)",BA,SENIOR_LEVEL,"$76,479 - $126,191 a year"
2994,535bf88fd2f51784,Houston Independent School District,Sr. Business Systems Analyst,"Houston, TX 77092 (Lazybrook - Timbergrove area)",BA,SENIOR_LEVEL,"$76,479 - $126,191 a year"
2995,c67f8b4eb633f2ec,Parker Aerospace,Digital & IT Technician Specialist,"Mentor, OH 44060",BA,SENIOR_LEVEL,"From $90,000 a year"
2996,66525c4ec502e215,Rheem Manufacturing,Principle Engineer - Electric Tankless,"Waterbury, CT 06705",BA,SENIOR_LEVEL,NaN

In [37]:
df = df.drop_duplicates('Key')

Save dataframe

In [39]:
df.to_csv('../Data/Clean/' + output_file_name, sep='\t', index=False)

Verify

In [40]:
ba = pd.read_csv('../Data/Clean/BA.tsv', sep='\t')

In [41]:
ba

,Key,Company,Position,Location,Category,Experience_Level,Salary
0,70f1879fbe39cff4,TRESUME,Entry level Business /Data Analyst,"Richmond, VA",BA,ENTRY_LEVEL,$30 - $35 an hour
1,a9832db271ef3fc4,US Office of the Secretary of Defense,Operations Research Analyst,"Arlington, VA",BA,ENTRY_LEVEL,"$155,700 - $183,500 a year"
2,7f4db33d08d5c611,Booz Allen Hamilton,"IT Business Analyst, Mid","Hybrid remote in Atlanta, GA",BA,ENTRY_LEVEL,"$52,100 - $119,000 a year"
3,0636da957769d80b,PRYSMIANGROUP.COM,SAP Intercompany Business Analyst (FT),"Highland Heights, KY",BA,ENTRY_LEVEL,NaN
4,f2d5e432940c9f42,NYCM,Business Data Analyst (Hybrid),"Edmeston, NY 13335",BA,ENTRY_LEVEL,"$35,057 - $63,103 a year"
...,...,...,...,...,...,...,...
2945,778a13995241bbd2,Connvertex Technologies Inc.,Senior Business Analyst,"Raleigh, NC 27601 (South Central area)",BA,SENIOR_LEVEL,NaN
2946,b1bfbf75cfadfa19,Houston Independent School District,Sr Business Systems Analyst (6147),"Houston, TX 77092 (Lazybrook - Timbergrove area)",BA,SENIOR_LEVEL,"$76,479 - $126,191 a year"
2947,535bf88fd2f51784,Houston Independent School District,Sr. Business Systems Analyst,"Houston, TX 77092 (Lazybrook - Timbergrove area)",BA,SENIOR_LEVEL,"$76,479 - $126,191 a year"
2948,c67f8b4eb633f2ec,Parker Aerospace,Digital & IT Technician Specialist,"Mentor, OH 44060",BA,SENIOR_LEVEL,"From $90,000 a year"
2949,66525c4ec502e215,Rheem Manufacturing,Principle Engineer - Electric Tankless,"Waterbury, CT 06705",BA,SENIOR_LEVEL,NaN