In [1]:
import numpy as np
import pandas as pd

In [2]:
add_df = pd.read_csv("../Data/Indeed/Intermediate_Data/location.tsv", sep="\t")

In [3]:
latitude = []
longitude = []
region = []
county = []
locality = []
country_code = []
region_code = []

In [4]:
for v in add_df["values"]:
    val = eval(v)
    latitude.append(val["latitude"])
    longitude.append(val["longitude"])
    region.append(val["region"])
    county.append(val["county"])
    locality.append(val["locality"])
    country_code.append(val['country_code'])
    region_code.append(val['region_code'])

In [5]:
add_df["latitude"] = latitude
add_df["longitude"] = longitude
add_df['region_code'] = region_code
add_df["region"] = region
add_df["county"] = county
add_df["locality"] = locality
add_df["country_code"] = country_code

In [6]:
add_df.to_csv("../Data/Indeed/merged.tsv", sep="\t", index=False)

In [7]:
df = pd.read_parquet("../Data/Indeed/Intermediate_Data/clean_location.parquet")

In [8]:
df

,Key,Company,Position,Location,Category,Experience_Level,Salary,Description,Benefits,Work_Commute,Clean_location
0,a9832db271ef3fc4,US Office of the Secretary of Defense,Operations Research Analyst,"Arlington, VA",BA,ENTRY_LEVEL,"$155,700 - $183,500 a year","DutiesThis is a Direct Hire Public Notice, und...",[],On-Site,"Arlington, VA"
1,7f4db33d08d5c611,Booz Allen Hamilton,"IT Business Analyst, Mid","Hybrid remote in Atlanta, GA",BA,ENTRY_LEVEL,"$52,100 - $119,000 a year",Job Description Location: ...,"['401(k)', '401(k) matching', 'Flexible schedu...",Hybrid Remote,"Atlanta, GA"
2,0636da957769d80b,PRYSMIANGROUP.COM,SAP Intercompany Business Analyst (FT),"Highland Heights, KY",BA,ENTRY_LEVEL,None,Prysmian is a global cable manufacturer with...,[],On-Site,"Highland Heights, KY"
3,f2d5e432940c9f42,NYCM,Business Data Analyst (Hybrid),"Edmeston, NY 13335",BA,ENTRY_LEVEL,"$35,057 - $63,103 a year",The Business Data Analyst (Hybrid) will perfor...,[],On-Site,"Edmeston, NY 13335"
4,ec9509f4c611785a,Johns Hopkins University,Investment Operations Analyst,"Hybrid remote in Baltimore, MD 21211",BA,ENTRY_LEVEL,"$84,700 - $148,300 a year","The Johns Hopkins University, one of the world...",[],Hybrid Remote,"Baltimore, MD 21211"
...,...,...,...,...,...,...,...,...,...,...,...
25274,072bf35ffdd8645d,"General Dynamics Mission Systems, Inc",Senior Software Engineer,"Hybrid remote in Bloomington, MN 55431",SE,SENIOR_LEVEL,"$146,048 - $162,000 a year",Basic Qualifications : Requires a Bachelo...,"['401(k)', '401(k) matching', 'Flexible schedu...",Hybrid Remote,"Bloomington, MN 55431"
25275,789179d9fd5c1d65,Metropolitan Transportation Authority,Application Developer 1-5 (TCU Represented),"New York, NY 10004Â (Financial District area)",SE,SENIOR_LEVEL,"$57,100 - $81,572 a year",Description Job Title: Application Developer A...,[],On-Site,"New York, NY 10004 (Financial District area)"
25276,f9785443a3551b34,"MPIRE Technology Group, Inc.",Senior Cloud Engineer,"Hybrid remote in Alexandria, VA 22314",SE,SENIOR_LEVEL,"$117,161.90 - $141,098.20 a year","MPIRE Technology Group, Inc is seeking several...","['Dental insurance', 'Employee assistance prog...",Hybrid Remote,"Alexandria, VA 22314"
25277,5f15c9ca93989af6,Talentech Consulting LLC,Statistical Programmer,Remote,SE,SENIOR_LEVEL,None,We are looking for two experienced statistical...,"['401(k)', 'Dental insurance', 'Flexible spend...",On-Site,Remote
25278,ea2bf756466c7fb6,The DEI Group,Sr. Software Engineer/Architect,"Columbia, MD 21045",SE,SENIOR_LEVEL,"$100,000 - $130,000 a year",Senior Software Engineer works as part of an a...,[],On-Site,"Columbia, MD 21045"

In [9]:
region = []
for loc in df["Clean_location"]:
    z = add_df.loc[add_df["location"] == loc]
    if z.empty:
        region.append("NA")
    else:
        region.append(z["region"].to_string().split("    ")[1])

In [10]:
region_code = []
for loc in df["Clean_location"]:
    z = add_df.loc[add_df["location"] == loc]
    if z.empty:
        region_code.append("NA")
    else:
        region_code.append(z["region_code"].to_string().split("    ")[1])

In [11]:
locality = []
for loc in df["Clean_location"]:
    z = add_df.loc[add_df["location"] == loc]
    if z.empty:
        locality.append("NA")
    else:
        locality.append(z["locality"].to_string().split("    ")[1])

In [12]:
county = []
for loc in df["Clean_location"]:
    z = add_df.loc[add_df["location"] == loc]
    if z.empty:
        county.append("NA")
    else:
        county.append(z["county"].to_string().split("    ")[1])

In [13]:
latitude = []
for loc in df["Clean_location"]:
    z = add_df.loc[add_df["location"] == loc]
    if z.empty:
        latitude.append("NA")
    else:
        latitude.append(float(z["latitude"]))

In [14]:
longitude = []
for loc in df["Clean_location"]:
    z = add_df.loc[add_df["location"] == loc]
    if z.empty:
        longitude.append("NA")
    else:
        longitude.append(float(z["longitude"]))

In [15]:
country_code = []
for loc in df["Clean_location"]:
    z = add_df.loc[add_df["location"] == loc]
    if z.empty:
        country_code.append("NA")
    else:
        country_code.append(z["country_code"].to_string().split("    ")[1])

In [16]:
df["latitude"] = latitude
df["longitude"] = longitude
df['region_code'] = region_code
df["region"] = region
df["county"] = county
df["locality"] = locality
df["country_code"] = country_code

In [17]:
df['latitude'].replace(['NA', ''], np.NaN, inplace=True)

In [18]:
df['longitude'].replace(['NA', ''], np.NaN, inplace=True)

In [19]:
df['region'].replace(['NA', ''], np.NaN, inplace=True)

In [20]:
df['region_code'].replace(['NA', ''], np.NaN, inplace=True)

In [21]:
df['county'].replace(['NA', ''], np.NaN, inplace=True)

In [22]:
df['locality'].replace(['NA', ''], np.NaN, inplace=True)

In [23]:
df['country_code'].replace(['NA', ''], np.NaN, inplace=True)

In [24]:
df = df.drop(['Location'], axis=1)

In [25]:
df.to_parquet("../Data/Indeed/Indeed_Data.parquet", index=False)

In [26]:
df

,Key,Company,Position,Category,Experience_Level,Salary,Description,Benefits,Work_Commute,Clean_location,latitude,longitude,region_code,region,county,locality,country_code
0,a9832db271ef3fc4,US Office of the Secretary of Defense,Operations Research Analyst,BA,ENTRY_LEVEL,"$155,700 - $183,500 a year","DutiesThis is a Direct Hire Public Notice, und...",[],On-Site,"Arlington, VA",38.864458,-77.099638,VA,Virginia,Arlington County,Arlington,USA
1,7f4db33d08d5c611,Booz Allen Hamilton,"IT Business Analyst, Mid",BA,ENTRY_LEVEL,"$52,100 - $119,000 a year",Job Description Location: ...,"['401(k)', '401(k) matching', 'Flexible schedu...",Hybrid Remote,"Atlanta, GA",33.769805,-84.414581,GA,Georgia,Fulton County,Atlanta,USA
2,0636da957769d80b,PRYSMIANGROUP.COM,SAP Intercompany Business Analyst (FT),BA,ENTRY_LEVEL,None,Prysmian is a global cable manufacturer with...,[],On-Site,"Highland Heights, KY",39.037110,-84.456707,KY,Kentucky,Campbell County,Highland Heights,USA
3,f2d5e432940c9f42,NYCM,Business Data Analyst (Hybrid),BA,ENTRY_LEVEL,"$35,057 - $63,103 a year",The Business Data Analyst (Hybrid) will perfor...,[],On-Site,"Edmeston, NY 13335",42.702260,-75.248224,NY,New York,Otsego County,Edmeston,USA
4,ec9509f4c611785a,Johns Hopkins University,Investment Operations Analyst,BA,ENTRY_LEVEL,"$84,700 - $148,300 a year","The Johns Hopkins University, one of the world...",[],Hybrid Remote,"Baltimore, MD 21211",39.319732,-76.649533,MD,Maryland,City of Baltimore,Baltimore,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25274,072bf35ffdd8645d,"General Dynamics Mission Systems, Inc",Senior Software Engineer,SE,SENIOR_LEVEL,"$146,048 - $162,000 a year",Basic Qualifications : Requires a Bachelo...,"['401(k)', '401(k) matching', 'Flexible schedu...",Hybrid Remote,"Bloomington, MN 55431",44.827321,-93.317043,MN,Minnesota,Hennepin County,Bloomington,USA
25275,789179d9fd5c1d65,Metropolitan Transportation Authority,Application Developer 1-5 (TCU Represented),SE,SENIOR_LEVEL,"$57,100 - $81,572 a year",Description Job Title: Application Developer A...,[],On-Site,"New York, NY 10004 (Financial District area)",40.688873,-74.018213,NY,New York,Kings County,New York,USA
25276,f9785443a3551b34,"MPIRE Technology Group, Inc.",Senior Cloud Engineer,SE,SENIOR_LEVEL,"$117,161.90 - $141,098.20 a year","MPIRE Technology Group, Inc is seeking several...","['Dental insurance', 'Employee assistance prog...",Hybrid Remote,"Alexandria, VA 22314",38.804840,-77.046920,VA,Virginia,City of Alexandria,Alexandria,USA
25277,5f15c9ca93989af6,Talentech Consulting LLC,Statistical Programmer,SE,SENIOR_LEVEL,None,We are looking for two experienced statistical...,"['401(k)', 'Dental insurance', 'Flexible spend...",On-Site,Remote,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25278,ea2bf756466c7fb6,The DEI Group,Sr. Software Engineer/Architect,SE,SENIOR_LEVEL,"$100,000 - $130,000 a year",Senior Software Engineer works as part of an a...,[],On-Site,"Columbia, MD 21045",39.199038,-76.841517,MD,Maryland,Howard County,Columbia,USA