In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('../Data/Indeed/clean_location.parquet')

In [3]:
add_df = pd.read_csv('../Data/Indeed/merged.tsv', sep='\t')

In [4]:
region= []
for loc in df['Clean_location']:
    z = add_df.loc[add_df['location'] == loc]
    if z.empty:
        region.append('NA')
    else:
        region.append(z['region'].to_string().split('    ')[1])

In [5]:
locality= []
for loc in df['Clean_location']:
    z = add_df.loc[add_df['location'] == loc]
    if z.empty:
        locality.append('NA')
    else:
        locality.append(z['locality'].to_string().split('    ')[1])

In [6]:
county= []
for loc in df['Clean_location']:
    z = add_df.loc[add_df['location'] == loc]
    if z.empty:
        county.append('NA')
    else:
        county.append(z['county'].to_string().split('    ')[1])

In [7]:
latitude= []
for loc in df['Clean_location']:
    z = add_df.loc[add_df['location'] == loc]
    if z.empty:
        latitude.append('NA')
    else:
        latitude.append(float(z['latitude']))

In [8]:
longitude= []
for loc in df['Clean_location']:
    z = add_df.loc[add_df['location'] == loc]
    if z.empty:
        longitude.append('NA')
    else:
        longitude.append(float(z['longitude']))

In [9]:
df['latitude'] = latitude
df['longitude'] = longitude
df['region'] = region
df['county'] = county
df['locality'] = locality

In [13]:
df.to_csv("../Data/Indeed/merged_locations.tsv", sep="\t", index=False)

In [16]:
import numpy as np
df[df == 'NA'] = np.nan

In [17]:
df

,Key,Company,Position,Location,Category,Experience_Level,Salary,Description,Benefits,Clean_location,latitude,longitude,region,county,locality
0,a9832db271ef3fc4,US Office of the Secretary of Defense,Operations Research Analyst,"Arlington, VA",BA,ENTRY_LEVEL,"$155,700 - $183,500 a year","DutiesThis is a Direct Hire Public Notice, und...",[],"Arlington, VA",38.864458,-77.099638,Virginia,Arlington County,Arlington
1,7f4db33d08d5c611,Booz Allen Hamilton,"IT Business Analyst, Mid","Hybrid remote in Atlanta, GA",BA,ENTRY_LEVEL,"$52,100 - $119,000 a year",Job Description Location: ...,"['401(k)', '401(k) matching', 'Flexible schedu...","Atlanta, GA",33.769805,-84.414581,Georgia,Fulton County,Atlanta
2,0636da957769d80b,PRYSMIANGROUP.COM,SAP Intercompany Business Analyst (FT),"Highland Heights, KY",BA,ENTRY_LEVEL,None,Prysmian is a global cable manufacturer with...,[],"Highland Heights, KY",39.03711,-84.456707,Kentucky,Campbell County,Highland Heights
3,f2d5e432940c9f42,NYCM,Business Data Analyst (Hybrid),"Edmeston, NY 13335",BA,ENTRY_LEVEL,"$35,057 - $63,103 a year",The Business Data Analyst (Hybrid) will perfor...,[],"Edmeston, NY 13335",42.70226,-75.248224,New York,Otsego County,Edmeston
4,ec9509f4c611785a,Johns Hopkins University,Investment Operations Analyst,"Hybrid remote in Baltimore, MD 21211",BA,ENTRY_LEVEL,"$84,700 - $148,300 a year","The Johns Hopkins University, one of the world...",[],"Baltimore, MD 21211",39.319732,-76.649533,Maryland,City of Baltimore,Baltimore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25274,072bf35ffdd8645d,"General Dynamics Mission Systems, Inc",Senior Software Engineer,"Hybrid remote in Bloomington, MN 55431",SE,SENIOR_LEVEL,"$146,048 - $162,000 a year",Basic Qualifications : Requires a Bachelo...,"['401(k)', '401(k) matching', 'Flexible schedu...","Bloomington, MN 55431",44.827321,-93.317043,Minnesota,Hennepin County,Bloomington
25275,789179d9fd5c1d65,Metropolitan Transportation Authority,Application Developer 1-5 (TCU Represented),"New York, NY 10004 (Financial District area)",SE,SENIOR_LEVEL,"$57,100 - $81,572 a year",Description Job Title: Application Developer A...,[],"New York, NY 10004 (Financial District area)",40.688873,-74.018213,New York,Kings County,New York
25276,f9785443a3551b34,"MPIRE Technology Group, Inc.",Senior Cloud Engineer,"Hybrid remote in Alexandria, VA 22314",SE,SENIOR_LEVEL,"$117,161.90 - $141,098.20 a year","MPIRE Technology Group, Inc is seeking several...","['Dental insurance', 'Employee assistance prog...","Alexandria, VA 22314",38.80484,-77.04692,Virginia,City of Alexandria,Alexandria
25277,5f15c9ca93989af6,Talentech Consulting LLC,Statistical Programmer,Remote,SE,SENIOR_LEVEL,None,We are looking for two experienced statistical...,"['401(k)', 'Dental insurance', 'Flexible spend...",Remote,NaN,NaN,NaN,NaN,NaN
25278,ea2bf756466c7fb6,The DEI Group,Sr. Software Engineer/Architect,"Columbia, MD 21045",SE,SENIOR_LEVEL,"$100,000 - $130,000 a year",Senior Software Engineer works as part of an a...,[],"Columbia, MD 21045",39.199038,-76.841517,Maryland,Howard County,Columbia

In [18]:
df.to_parquet('../Data/Indeed/merged.parquet')