In [92]:
import pandas as pd

In [93]:
code = 'DA'

In [94]:
output_file_name = code + '.tsv'

Read File

In [95]:
entry_level = pd.read_csv('../Data/Raw/' + code +'_ENTRY_LEVEL.tsv', sep='\t')

In [96]:
mid_level = pd.read_csv('../Data/Raw/' + code +'_MID_LEVEL.tsv', sep='\t')

In [97]:
senior_level = pd.read_csv('../Data/Raw/' + code +'_SENIOR_LEVEL.tsv', sep='\t')

Get Columns

In [98]:
re_1 = entry_level.columns

In [99]:
rm_1 = mid_level.columns

In [100]:
rs_1 = senior_level.columns

Change Columns

In [101]:
columns = ['Key', 'Company', 'Position', 'Location', 'Category', 'Experience_Level', 'Salary']

In [102]:
entry_level.columns = columns

In [103]:
mid_level.columns = columns

In [104]:
senior_level.columns = columns

Add Data Before (Columns)

In [105]:
entry_level.loc[-1] = re_1
entry_level.index = entry_level.index + 1
entry_level.sort_index(inplace=True)

In [106]:
mid_level.loc[-1] = rm_1
mid_level.index = mid_level.index + 1
mid_level.sort_index(inplace=True)

In [107]:
senior_level.loc[-1] = rs_1
senior_level.index = senior_level.index + 1
senior_level.sort_index(inplace=True)

In [108]:
frame =  [entry_level, mid_level, senior_level]

In [109]:
df = pd.concat(frame, ignore_index=True)

In [110]:
df = df.drop_duplicates('Key')

In [111]:
df

,Key,Company,Position,Location,Category,Experience_Level,Salary
0,ae6c940b3636ccad,"Perficient, Inc",Healthcare Data Analyst - REMOTE,Remote in United States,DA,ENTRY_LEVEL,NA
1,b9b0881f3234c809,I2B Technologies,Digital Data Analyst,Remote,DA,ENTRY_LEVEL,NaN
2,0341a6463ba420fc,The State of New Hampshire,DATA AND DIGITAL ANALYST,"Concord, NH",DA,ENTRY_LEVEL,$27.01 - $32.09 an hour
3,b5dff19c485650cf,Stancil Painting,Data Analyst,"Concord, NC 28027",DA,ENTRY_LEVEL,Estimated $68.3K - $86.5K a year
4,ed67f9e08f6f8c78,C.H. Robinson,Data Analyst,"Eden Prairie, MN 55347",DA,ENTRY_LEVEL,Estimated $81.8K - $104K a year
...,...,...,...,...,...,...,...
2959,8276c4be5c9f8a33,Carter's,Sr Forecasting Analyst,"Atlanta, GA",DA,SENIOR_LEVEL,Estimated $63.2K - $80K a year
2960,9e7bd964623c71a8,Johns Hopkins Health System,Sr. Business Intelligence Analyst,"Hybrid remote in Baltimore, MD",DA,SENIOR_LEVEL,Estimated $84.8K - $107K a year
2961,140cf239af5b3502,Corestream,Sr. Product Data Analyst,Oregon,DA,SENIOR_LEVEL,NaN
2962,4d6134b878e5356c,Casey Family Programs,"Sr. Business Systems Analyst II, Seattle Headq...","Seattle, WA 98121 (Belltown area)",DA,SENIOR_LEVEL,NaN
2963,9ac42cbb40a26a0e,Casey Family Programs,Sr. Business Systems Analyst II,"Seattle, WA 98121 (Belltown area)",DA,SENIOR_LEVEL,"$102,000 - $120,000 a year"

Save dataframe

In [112]:
df.to_csv('../Data/Clean/' + output_file_name, sep='\t', index=False)

Verify

In [113]:
me = pd.read_csv('../Data/Clean/' + code + '.tsv', sep='\t')

In [114]:
me

,Key,Company,Position,Location,Category,Experience_Level,Salary
0,ae6c940b3636ccad,"Perficient, Inc",Healthcare Data Analyst - REMOTE,Remote in United States,DA,ENTRY_LEVEL,NaN
1,b9b0881f3234c809,I2B Technologies,Digital Data Analyst,Remote,DA,ENTRY_LEVEL,NaN
2,0341a6463ba420fc,The State of New Hampshire,DATA AND DIGITAL ANALYST,"Concord, NH",DA,ENTRY_LEVEL,$27.01 - $32.09 an hour
3,b5dff19c485650cf,Stancil Painting,Data Analyst,"Concord, NC 28027",DA,ENTRY_LEVEL,Estimated $68.3K - $86.5K a year
4,ed67f9e08f6f8c78,C.H. Robinson,Data Analyst,"Eden Prairie, MN 55347",DA,ENTRY_LEVEL,Estimated $81.8K - $104K a year
...,...,...,...,...,...,...,...
2954,8276c4be5c9f8a33,Carter's,Sr Forecasting Analyst,"Atlanta, GA",DA,SENIOR_LEVEL,Estimated $63.2K - $80K a year
2955,9e7bd964623c71a8,Johns Hopkins Health System,Sr. Business Intelligence Analyst,"Hybrid remote in Baltimore, MD",DA,SENIOR_LEVEL,Estimated $84.8K - $107K a year
2956,140cf239af5b3502,Corestream,Sr. Product Data Analyst,Oregon,DA,SENIOR_LEVEL,NaN
2957,4d6134b878e5356c,Casey Family Programs,"Sr. Business Systems Analyst II, Seattle Headq...","Seattle, WA 98121 (Belltown area)",DA,SENIOR_LEVEL,NaN
2958,9ac42cbb40a26a0e,Casey Family Programs,Sr. Business Systems Analyst II,"Seattle, WA 98121 (Belltown area)",DA,SENIOR_LEVEL,"$102,000 - $120,000 a year"