In [1]:
import pandas as pd

In [2]:
code = 'DE'

In [3]:
output_file_name = code + '.tsv'

Read File

In [4]:
entry_level = pd.read_csv('../Data/Raw/' + code +'_ENTRY_LEVEL.tsv', sep='\t')

In [5]:
mid_level = pd.read_csv('../Data/Raw/' + code +'_MID_LEVEL.tsv', sep='\t')

In [6]:
senior_level = pd.read_csv('../Data/Raw/' + code +'_SENIOR_LEVEL.tsv', sep='\t')

Get Columns

In [7]:
re_1 = entry_level.columns

In [8]:
rm_1 = mid_level.columns

In [9]:
rs_1 = senior_level.columns

Change Columns

In [10]:
columns = ['Key', 'Company', 'Position', 'Location', 'Category', 'Experience_Level', 'Salary']

In [11]:
entry_level.columns = columns

In [12]:
mid_level.columns = columns

In [13]:
senior_level.columns = columns

Add Data Before (Columns)

In [14]:
entry_level.loc[-1] = re_1
entry_level.index = entry_level.index + 1
entry_level.sort_index(inplace=True)

In [15]:
mid_level.loc[-1] = rm_1
mid_level.index = mid_level.index + 1
mid_level.sort_index(inplace=True)

In [16]:
senior_level.loc[-1] = rs_1
senior_level.index = senior_level.index + 1
senior_level.sort_index(inplace=True)

In [17]:
frame =  [entry_level, mid_level, senior_level]

In [18]:
df = pd.concat(frame, ignore_index=True)

In [19]:
df = df.drop_duplicates('Key')

In [20]:
df

,Key,Company,Position,Location,Category,Experience_Level,Salary
0,3ea902f8ea01f543,CVS Health,Associate Data Engineer,"Irving, TX",DE,ENTRY_LEVEL,"$60,000 - $120,000 a year"
1,be9fa4e22cddbb22,CVS Health,Associate Data Engineer,"Irving, TX",DE,ENTRY_LEVEL,"$60,000 - $120,000 a year"
2,e4a613074f64e003,Automobile Club of Southern California,Data Engineer,"Costa Mesa, CA 92626",DE,ENTRY_LEVEL,"$101,000 - $134,700 a year"
3,9d2fb391d088472f,TrueSense Marketing,Data Integration Engineer / Fivetran Specialist,Remote,DE,ENTRY_LEVEL,Estimated $78.6K - $99.5K a year
4,6b688887e54e619e,Capital One,Data Engineer,"McLean, VA",DE,ENTRY_LEVEL,NaN
...,...,...,...,...,...,...,...
2580,0e48da3e65df1a60,Pfizer,"Sr. Associate, Big Data Software Engineer","Collegeville, PA",DE,SENIOR_LEVEL,"$72,700 - $121,200 a year"
2581,b5d16d73172c11b6,Marathon Digital Holdings,Senior Solutions Engineer - Data Center Immers...,"Remote in Tampa, FL",DE,SENIOR_LEVEL,NaN
2582,91c58a748670b4b2,Siteimprove,Senior Data Engineer,"Hybrid remote in Bellevue, WA",DE,SENIOR_LEVEL,"$120,000 - $165,000 a year"
2583,60b0edf1fac45afc,Ampersand,Senior Data Engineer,"New York, NY 10036Â (Midtown area)",DE,SENIOR_LEVEL,NaN
2584,51f8639818a92492,Apple,Data Quality Lead Engineer,"Cupertino, CA",DE,SENIOR_LEVEL,NaN

Save dataframe

In [21]:
df.to_csv('../Data/Clean/' + output_file_name, sep='\t', index=False)

Verify

In [22]:
me = pd.read_csv('../Data/Clean/' + code + '.tsv', sep='\t')

In [23]:
me

,Key,Company,Position,Location,Category,Experience_Level,Salary
0,3ea902f8ea01f543,CVS Health,Associate Data Engineer,"Irving, TX",DE,ENTRY_LEVEL,"$60,000 - $120,000 a year"
1,be9fa4e22cddbb22,CVS Health,Associate Data Engineer,"Irving, TX",DE,ENTRY_LEVEL,"$60,000 - $120,000 a year"
2,e4a613074f64e003,Automobile Club of Southern California,Data Engineer,"Costa Mesa, CA 92626",DE,ENTRY_LEVEL,"$101,000 - $134,700 a year"
3,9d2fb391d088472f,TrueSense Marketing,Data Integration Engineer / Fivetran Specialist,Remote,DE,ENTRY_LEVEL,Estimated $78.6K - $99.5K a year
4,6b688887e54e619e,Capital One,Data Engineer,"McLean, VA",DE,ENTRY_LEVEL,NaN
...,...,...,...,...,...,...,...
2571,0e48da3e65df1a60,Pfizer,"Sr. Associate, Big Data Software Engineer","Collegeville, PA",DE,SENIOR_LEVEL,"$72,700 - $121,200 a year"
2572,b5d16d73172c11b6,Marathon Digital Holdings,Senior Solutions Engineer - Data Center Immers...,"Remote in Tampa, FL",DE,SENIOR_LEVEL,NaN
2573,91c58a748670b4b2,Siteimprove,Senior Data Engineer,"Hybrid remote in Bellevue, WA",DE,SENIOR_LEVEL,"$120,000 - $165,000 a year"
2574,60b0edf1fac45afc,Ampersand,Senior Data Engineer,"New York, NY 10036Â (Midtown area)",DE,SENIOR_LEVEL,NaN
2575,51f8639818a92492,Apple,Data Quality Lead Engineer,"Cupertino, CA",DE,SENIOR_LEVEL,NaN