In [115]:
import pandas as pd

In [182]:
code = 'PM'

In [183]:
output_file_name = code + '.tsv'

Read File

In [184]:
entry_level = pd.read_csv('../Data/Raw/' + code +'_ENTRY_LEVEL.tsv', sep='\t')

In [185]:
mid_level = pd.read_csv('../Data/Raw/' + code +'_MID_LEVEL.tsv', sep='\t')

In [186]:
senior_level = pd.read_csv('../Data/Raw/' + code +'_SENIOR_LEVEL.tsv', sep='\t')

Get Columns

In [187]:
re_1 = entry_level.columns

In [188]:
rm_1 = mid_level.columns

In [189]:
rs_1 = senior_level.columns

Change Columns

In [190]:
columns = ['Key', 'Company', 'Position', 'Location', 'Category', 'Experience_Level', 'Salary']

In [191]:
entry_level.columns = columns

In [192]:
mid_level.columns = columns

In [193]:
senior_level.columns = columns

Add Data Before (Columns)

In [194]:
entry_level.loc[-1] = re_1
entry_level.index = entry_level.index + 1
entry_level.sort_index(inplace=True)

In [195]:
mid_level.loc[-1] = rm_1
mid_level.index = mid_level.index + 1
mid_level.sort_index(inplace=True)

In [196]:
senior_level.loc[-1] = rs_1
senior_level.index = senior_level.index + 1
senior_level.sort_index(inplace=True)

In [197]:
frame =  [entry_level, mid_level, senior_level]

In [198]:
df = pd.concat(frame, ignore_index=True)

In [199]:
df = df.drop_duplicates('Key')

In [200]:
df

,Key,Company,Position,Location,Category,Experience_Level,Salary
0,2b77cca57a7aaabe,Oracle,Product Manager/Strategy 5-ProdDev,United States,PM,ENTRY_LEVEL,NA
1,e8ed30c43b877013,"MAT Holdings, Inc",Associate Product Manager,"Jackson, TN 38301",PM,ENTRY_LEVEL,Estimated $59.4K - $75.2K a year
2,aa49525763fe266d,Zenith Insurance Company,"Dir, Business Process Innovation/Product Owner","Woodland Hills, CA 91367",PM,ENTRY_LEVEL,"$136,382 - $170,478 a year"
3,5348cf687b9c405c,"Vergent LMS, Inc.",Product Owner,"Ridgeland, MS 39157",PM,ENTRY_LEVEL,NaN
4,0ada2dd8054b7f45,Greenphire,Product Owner,"King of Prussia, PA",PM,ENTRY_LEVEL,NaN
...,...,...,...,...,...,...,...
2520,7bd6eb4d32a77581,Facebook App,SiteOps Global Product Platform Engineering Ma...,"DeKalb, IL",PM,SENIOR_LEVEL,"$163,000 - $223,000 a year"
2521,801b9e9f1411ee14,Facebook App,SiteOps Global Product Platform Engineering Ma...,"Eagle Mountain, UT",PM,SENIOR_LEVEL,"$163,000 - $223,000 a year"
2522,46ac9ab15fe6ae12,Facebook App,SiteOps Global Product Platform Engineering Ma...,"Gallatin, TN",PM,SENIOR_LEVEL,"$163,000 - $223,000 a year"
2523,04cade2a2f845d33,Facebook App,SiteOps Global Product Platform Engineering Ma...,"New Albany, OH",PM,SENIOR_LEVEL,"$163,000 - $223,000 a year"
2524,bd826066a3661067,Facebook App,SiteOps Global Product Platform Engineering Ma...,"Forest City, NC",PM,SENIOR_LEVEL,"$163,000 - $223,000 a year"

Save dataframe

In [201]:
df.to_csv('../Data/Clean/' + output_file_name, sep='\t', index=False)

Verify

In [202]:
me = pd.read_csv('../Data/Clean/' + code + '.tsv', sep='\t')

In [203]:
me

,Key,Company,Position,Location,Category,Experience_Level,Salary
0,2b77cca57a7aaabe,Oracle,Product Manager/Strategy 5-ProdDev,United States,PM,ENTRY_LEVEL,NaN
1,e8ed30c43b877013,"MAT Holdings, Inc",Associate Product Manager,"Jackson, TN 38301",PM,ENTRY_LEVEL,Estimated $59.4K - $75.2K a year
2,aa49525763fe266d,Zenith Insurance Company,"Dir, Business Process Innovation/Product Owner","Woodland Hills, CA 91367",PM,ENTRY_LEVEL,"$136,382 - $170,478 a year"
3,5348cf687b9c405c,"Vergent LMS, Inc.",Product Owner,"Ridgeland, MS 39157",PM,ENTRY_LEVEL,NaN
4,0ada2dd8054b7f45,Greenphire,Product Owner,"King of Prussia, PA",PM,ENTRY_LEVEL,NaN
...,...,...,...,...,...,...,...
2504,7bd6eb4d32a77581,Facebook App,SiteOps Global Product Platform Engineering Ma...,"DeKalb, IL",PM,SENIOR_LEVEL,"$163,000 - $223,000 a year"
2505,801b9e9f1411ee14,Facebook App,SiteOps Global Product Platform Engineering Ma...,"Eagle Mountain, UT",PM,SENIOR_LEVEL,"$163,000 - $223,000 a year"
2506,46ac9ab15fe6ae12,Facebook App,SiteOps Global Product Platform Engineering Ma...,"Gallatin, TN",PM,SENIOR_LEVEL,"$163,000 - $223,000 a year"
2507,04cade2a2f845d33,Facebook App,SiteOps Global Product Platform Engineering Ma...,"New Albany, OH",PM,SENIOR_LEVEL,"$163,000 - $223,000 a year"
2508,bd826066a3661067,Facebook App,SiteOps Global Product Platform Engineering Ma...,"Forest City, NC",PM,SENIOR_LEVEL,"$163,000 - $223,000 a year"