In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('PM_MID_LEVEL.tsv', sep='\t')

In [8]:
df

,Nestlé USA,Product Development Manager (TAG) - Bakery/Sweets,"Arlington, VA",PM,MID_LEVEL,NA
Foursquare,Product Marketing Manager,Remote,PM,MID_LEVEL,"$110,000 - $140,000 a year",About Foursquare Foursquare is the leading ind...
Neptune Technology Group,Manager of Product Marketing,"Atlanta, GA",PM,MID_LEVEL,"$109,434 - $117,170 a year",Position SummaryThe Manager of Product Marketi...
Teachers Federal Credit Union,Digital Product Manager,"Hauppauge, NY 11788",PM,MID_LEVEL,"$88,000 - $109,500 a year","For 70 years, Teachers Federal Credit Union ha..."
OSM Worldwide,Product Manager,"Glendale Heights, IL 60139",PM,MID_LEVEL,NaN,OSM is a technology enabled shipping and logis...
ImageSoft,Product Owner,"Remote in Nashville, TN 37215",PM,MID_LEVEL,NaN,Product Owner Job Category: Information Techno...
...,...,...,...,...,...,...
"Advanced Micro Devices, Inc",Sr. Product Manager,"San Jose, CA 95124 (Cambrian Park area)",PM,MID_LEVEL,NaN,Overview: WHAT YOU DO AT AMD CHANGES EVERYT...
Amelia,Product Manager,"New York, NY",PM,MID_LEVEL,NaN,Collaboration between humans and machines i...
Mastercard,Lead Product Manager - Technical,"O'Fallon, MO 63368",PM,MID_LEVEL,NaN,Our Purpose We work to connect and power ...
Fieldguide,Lead Product Manager,Remote in California,PM,MID_LEVEL,NaN,About us: Fieldguide is establishing a new sta...
Intelsat,"Product Manager, Business Insights, Analytics ...","Hybrid remote in McLean, VA",PM,MID_LEVEL,NaN,"Product Manager, Business Insights, Analytics ..."

In [11]:
df.reset_index()

,index,Nestlé USA,Product Development Manager (TAG) - Bakery/Sweets,"Arlington, VA",PM,MID_LEVEL,NA
0,Foursquare,Product Marketing Manager,Remote,PM,MID_LEVEL,"$110,000 - $140,000 a year",About Foursquare Foursquare is the leading ind...
1,Neptune Technology Group,Manager of Product Marketing,"Atlanta, GA",PM,MID_LEVEL,"$109,434 - $117,170 a year",Position SummaryThe Manager of Product Marketi...
2,Teachers Federal Credit Union,Digital Product Manager,"Hauppauge, NY 11788",PM,MID_LEVEL,"$88,000 - $109,500 a year","For 70 years, Teachers Federal Credit Union ha..."
3,OSM Worldwide,Product Manager,"Glendale Heights, IL 60139",PM,MID_LEVEL,NaN,OSM is a technology enabled shipping and logis...
4,ImageSoft,Product Owner,"Remote in Nashville, TN 37215",PM,MID_LEVEL,NaN,Product Owner Job Category: Information Techno...
...,...,...,...,...,...,...,...
6418,"Advanced Micro Devices, Inc",Sr. Product Manager,"San Jose, CA 95124 (Cambrian Park area)",PM,MID_LEVEL,NaN,Overview: WHAT YOU DO AT AMD CHANGES EVERYT...
6419,Amelia,Product Manager,"New York, NY",PM,MID_LEVEL,NaN,Collaboration between humans and machines i...
6420,Mastercard,Lead Product Manager - Technical,"O'Fallon, MO 63368",PM,MID_LEVEL,NaN,Our Purpose We work to connect and power ...
6421,Fieldguide,Lead Product Manager,Remote in California,PM,MID_LEVEL,NaN,About us: Fieldguide is establishing a new sta...
6422,Intelsat,"Product Manager, Business Insights, Analytics ...","Hybrid remote in McLean, VA",PM,MID_LEVEL,NaN,"Product Manager, Business Insights, Analytics ..."

In [16]:
df.rename_axis('Company').reset_index()

,Company,Nestlé USA,Product Development Manager (TAG) - Bakery/Sweets,"Arlington, VA",PM,MID_LEVEL,NA
0,Foursquare,Product Marketing Manager,Remote,PM,MID_LEVEL,"$110,000 - $140,000 a year",About Foursquare Foursquare is the leading ind...
1,Neptune Technology Group,Manager of Product Marketing,"Atlanta, GA",PM,MID_LEVEL,"$109,434 - $117,170 a year",Position SummaryThe Manager of Product Marketi...
2,Teachers Federal Credit Union,Digital Product Manager,"Hauppauge, NY 11788",PM,MID_LEVEL,"$88,000 - $109,500 a year","For 70 years, Teachers Federal Credit Union ha..."
3,OSM Worldwide,Product Manager,"Glendale Heights, IL 60139",PM,MID_LEVEL,NaN,OSM is a technology enabled shipping and logis...
4,ImageSoft,Product Owner,"Remote in Nashville, TN 37215",PM,MID_LEVEL,NaN,Product Owner Job Category: Information Techno...
...,...,...,...,...,...,...,...
6418,"Advanced Micro Devices, Inc",Sr. Product Manager,"San Jose, CA 95124 (Cambrian Park area)",PM,MID_LEVEL,NaN,Overview: WHAT YOU DO AT AMD CHANGES EVERYT...
6419,Amelia,Product Manager,"New York, NY",PM,MID_LEVEL,NaN,Collaboration between humans and machines i...
6420,Mastercard,Lead Product Manager - Technical,"O'Fallon, MO 63368",PM,MID_LEVEL,NaN,Our Purpose We work to connect and power ...
6421,Fieldguide,Lead Product Manager,Remote in California,PM,MID_LEVEL,NaN,About us: Fieldguide is establishing a new sta...
6422,Intelsat,"Product Manager, Business Insights, Analytics ...","Hybrid remote in McLean, VA",PM,MID_LEVEL,NaN,"Product Manager, Business Insights, Analytics ..."

In [18]:
df = df.assign(company=df.index).reset_index(drop=True)

In [21]:
df

,Nestlé USA,Product Development Manager (TAG) - Bakery/Sweets,"Arlington, VA",PM,MID_LEVEL,NA,company
0,Product Marketing Manager,Remote,PM,MID_LEVEL,"$110,000 - $140,000 a year",About Foursquare Foursquare is the leading ind...,Foursquare
1,Manager of Product Marketing,"Atlanta, GA",PM,MID_LEVEL,"$109,434 - $117,170 a year",Position SummaryThe Manager of Product Marketi...,Neptune Technology Group
2,Digital Product Manager,"Hauppauge, NY 11788",PM,MID_LEVEL,"$88,000 - $109,500 a year","For 70 years, Teachers Federal Credit Union ha...",Teachers Federal Credit Union
3,Product Manager,"Glendale Heights, IL 60139",PM,MID_LEVEL,NaN,OSM is a technology enabled shipping and logis...,OSM Worldwide
4,Product Owner,"Remote in Nashville, TN 37215",PM,MID_LEVEL,NaN,Product Owner Job Category: Information Techno...,ImageSoft
...,...,...,...,...,...,...,...
6418,Sr. Product Manager,"San Jose, CA 95124 (Cambrian Park area)",PM,MID_LEVEL,NaN,Overview: WHAT YOU DO AT AMD CHANGES EVERYT...,"Advanced Micro Devices, Inc"
6419,Product Manager,"New York, NY",PM,MID_LEVEL,NaN,Collaboration between humans and machines i...,Amelia
6420,Lead Product Manager - Technical,"O'Fallon, MO 63368",PM,MID_LEVEL,NaN,Our Purpose We work to connect and power ...,Mastercard
6421,Lead Product Manager,Remote in California,PM,MID_LEVEL,NaN,About us: Fieldguide is establishing a new sta...,Fieldguide
6422,"Product Manager, Business Insights, Analytics ...","Hybrid remote in McLean, VA",PM,MID_LEVEL,NaN,"Product Manager, Business Insights, Analytics ...",Intelsat

In [22]:
df2 = pd.DataFrame()

In [24]:
df2['Company'] = df['company']
df2['Title'] = df['Nestlé USA']
df2['Location'] = df['Product Development Manager (TAG) - Bakery/Sweets']
df2['Category'] = df['Arlington, VA']
df2['Experience'] = df['PM']
df2['Salary'] = df['MID_LEVEL']
df2['Desc'] = df ['NA']

In [25]:
df2

,Company,Title,Location,Category,Experience,Salary,Desc
0,Foursquare,Product Marketing Manager,Remote,PM,MID_LEVEL,"$110,000 - $140,000 a year",About Foursquare Foursquare is the leading ind...
1,Neptune Technology Group,Manager of Product Marketing,"Atlanta, GA",PM,MID_LEVEL,"$109,434 - $117,170 a year",Position SummaryThe Manager of Product Marketi...
2,Teachers Federal Credit Union,Digital Product Manager,"Hauppauge, NY 11788",PM,MID_LEVEL,"$88,000 - $109,500 a year","For 70 years, Teachers Federal Credit Union ha..."
3,OSM Worldwide,Product Manager,"Glendale Heights, IL 60139",PM,MID_LEVEL,NaN,OSM is a technology enabled shipping and logis...
4,ImageSoft,Product Owner,"Remote in Nashville, TN 37215",PM,MID_LEVEL,NaN,Product Owner Job Category: Information Techno...
...,...,...,...,...,...,...,...
6418,"Advanced Micro Devices, Inc",Sr. Product Manager,"San Jose, CA 95124 (Cambrian Park area)",PM,MID_LEVEL,NaN,Overview: WHAT YOU DO AT AMD CHANGES EVERYT...
6419,Amelia,Product Manager,"New York, NY",PM,MID_LEVEL,NaN,Collaboration between humans and machines i...
6420,Mastercard,Lead Product Manager - Technical,"O'Fallon, MO 63368",PM,MID_LEVEL,NaN,Our Purpose We work to connect and power ...
6421,Fieldguide,Lead Product Manager,Remote in California,PM,MID_LEVEL,NaN,About us: Fieldguide is establishing a new sta...
6422,Intelsat,"Product Manager, Business Insights, Analytics ...","Hybrid remote in McLean, VA",PM,MID_LEVEL,NaN,"Product Manager, Business Insights, Analytics ..."

In [30]:
pd.concat([df2['Company'],df2['Title'],df2['Location']]).unique()

array(['Foursquare', 'Neptune Technology Group',
       'Teachers Federal Credit Union', ...,
       'Brooklyn Park, MN 55445\xa0(Greenhaven area)', 'San Mateo, CA',
       'Chandler, AZ 85225'], dtype=object)

In [2]:
df = pd.read_parquet('../Data/Indeed/merged.parquet')

In [3]:
df

,Key,Company,Position,Location,Category,Experience_Level,Salary,Description,Benefits,Clean_location,latitude,longitude,region,county,locality
0,a9832db271ef3fc4,US Office of the Secretary of Defense,Operations Research Analyst,"Arlington, VA",BA,ENTRY_LEVEL,"$155,700 - $183,500 a year","DutiesThis is a Direct Hire Public Notice, und...",[],"Arlington, VA",38.864458,-77.099638,Virginia,Arlington County,Arlington
1,7f4db33d08d5c611,Booz Allen Hamilton,"IT Business Analyst, Mid","Hybrid remote in Atlanta, GA",BA,ENTRY_LEVEL,"$52,100 - $119,000 a year",Job Description Location: ...,"['401(k)', '401(k) matching', 'Flexible schedu...","Atlanta, GA",33.769805,-84.414581,Georgia,Fulton County,Atlanta
2,0636da957769d80b,PRYSMIANGROUP.COM,SAP Intercompany Business Analyst (FT),"Highland Heights, KY",BA,ENTRY_LEVEL,None,Prysmian is a global cable manufacturer with...,[],"Highland Heights, KY",39.037110,-84.456707,Kentucky,Campbell County,Highland Heights
3,f2d5e432940c9f42,NYCM,Business Data Analyst (Hybrid),"Edmeston, NY 13335",BA,ENTRY_LEVEL,"$35,057 - $63,103 a year",The Business Data Analyst (Hybrid) will perfor...,[],"Edmeston, NY 13335",42.702260,-75.248224,New York,Otsego County,Edmeston
4,ec9509f4c611785a,Johns Hopkins University,Investment Operations Analyst,"Hybrid remote in Baltimore, MD 21211",BA,ENTRY_LEVEL,"$84,700 - $148,300 a year","The Johns Hopkins University, one of the world...",[],"Baltimore, MD 21211",39.319732,-76.649533,Maryland,City of Baltimore,Baltimore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25274,072bf35ffdd8645d,"General Dynamics Mission Systems, Inc",Senior Software Engineer,"Hybrid remote in Bloomington, MN 55431",SE,SENIOR_LEVEL,"$146,048 - $162,000 a year",Basic Qualifications : Requires a Bachelo...,"['401(k)', '401(k) matching', 'Flexible schedu...","Bloomington, MN 55431",44.827321,-93.317043,Minnesota,Hennepin County,Bloomington
25275,789179d9fd5c1d65,Metropolitan Transportation Authority,Application Developer 1-5 (TCU Represented),"New York, NY 10004 (Financial District area)",SE,SENIOR_LEVEL,"$57,100 - $81,572 a year",Description Job Title: Application Developer A...,[],"New York, NY 10004 (Financial District area)",40.688873,-74.018213,New York,Kings County,New York
25276,f9785443a3551b34,"MPIRE Technology Group, Inc.",Senior Cloud Engineer,"Hybrid remote in Alexandria, VA 22314",SE,SENIOR_LEVEL,"$117,161.90 - $141,098.20 a year","MPIRE Technology Group, Inc is seeking several...","['Dental insurance', 'Employee assistance prog...","Alexandria, VA 22314",38.804840,-77.046920,Virginia,City of Alexandria,Alexandria
25277,5f15c9ca93989af6,Talentech Consulting LLC,Statistical Programmer,Remote,SE,SENIOR_LEVEL,None,We are looking for two experienced statistical...,"['401(k)', 'Dental insurance', 'Flexible spend...",Remote,NaN,NaN,None,None,None
25278,ea2bf756466c7fb6,The DEI Group,Sr. Software Engineer/Architect,"Columbia, MD 21045",SE,SENIOR_LEVEL,"$100,000 - $130,000 a year",Senior Software Engineer works as part of an a...,[],"Columbia, MD 21045",39.199038,-76.841517,Maryland,Howard County,Columbia