In [1]:
import pandas as pd
import altair as alt

In [2]:
df = pd.read_parquet('../Data/Indeed/Indeed_Data.parquet', columns=['latitude', 'longitude', 'country_code', 'region'])

In [3]:
df

        latitude  longitude country_code     region
0      38.864458 -77.099638          USA   Virginia
1      33.769805 -84.414581          USA    Georgia
2      39.037110 -84.456707          USA   Kentucky
3      42.702260 -75.248224          USA   New York
4      39.319732 -76.649533          USA   Maryland
...          ...        ...          ...        ...
23272  44.827321 -93.317043          USA  Minnesota
23273  40.688873 -74.018213          USA   New York
23274  38.804840 -77.046920          USA   Virginia
23275        NaN        NaN         None       None
23276  39.199038 -76.841517          USA   Maryland

[23277 rows x 4 columns]

In [4]:
df = df.dropna()

In [5]:
df = df.loc[df['country_code'] == 'USA']

In [6]:
df

        latitude   longitude country_code     region
0      38.864458  -77.099638          USA   Virginia
1      33.769805  -84.414581          USA    Georgia
2      39.037110  -84.456707          USA   Kentucky
3      42.702260  -75.248224          USA   New York
4      39.319732  -76.649533          USA   Maryland
...          ...         ...          ...        ...
23270  40.016412 -105.259703          USA   Colorado
23272  44.827321  -93.317043          USA  Minnesota
23273  40.688873  -74.018213          USA   New York
23274  38.804840  -77.046920          USA   Virginia
23276  39.199038  -76.841517          USA   Maryland

[21742 rows x 4 columns]

In [11]:
df['id'] = [i for i in range(len(df))]

In [14]:
alt.Chart(df).mark_geoshape().encode(
    color='region:Q'
).transform_lookup(
    lookup='id',
    from_=alt.LookupData(df, 'id', list(df.columns))
).properties(
    width=500,
    height=300
).project(
    type='albersUsa'
)

AttributeError: 'Chart' object has no attribute 'disable_max_rows'