In [1]:
import pandas as pd

In [6]:
df = pd.read_parquet('../Data/Indeed/merged.parquet', columns=['latitude', 'longitude', 'country_code'])

In [7]:
df

        latitude  longitude country_code
0      38.864458 -77.099638          USA
1      33.769805 -84.414581          USA
2      39.037110 -84.456707          USA
3      42.702260 -75.248224          USA
4      39.319732 -76.649533          USA
...          ...        ...          ...
23272  44.827321 -93.317043          USA
23273  40.688873 -74.018213          USA
23274  38.804840 -77.046920          USA
23275        NaN        NaN         None
23276  39.199038 -76.841517          USA

[23277 rows x 3 columns]

In [8]:
df = df.dropna()

In [10]:
df = df.loc[df['country_code'] == 'USA']

In [11]:
df

        latitude   longitude country_code
0      38.864458  -77.099638          USA
1      33.769805  -84.414581          USA
2      39.037110  -84.456707          USA
3      42.702260  -75.248224          USA
4      39.319732  -76.649533          USA
...          ...         ...          ...
23270  40.016412 -105.259703          USA
23272  44.827321  -93.317043          USA
23273  40.688873  -74.018213          USA
23274  38.804840  -77.046920          USA
23276  39.199038  -76.841517          USA

[21742 rows x 3 columns]