In [1]:
import pandas as pd

In [4]:
df = pd.read_parquet('../Data/Indeed/merged.parquet', columns=['latitude', 'longitude'])

In [5]:
df

        latitude  longitude
0      38.864458 -77.099638
1      33.769805 -84.414581
2      39.037110 -84.456707
3      42.702260 -75.248224
4      39.319732 -76.649533
...          ...        ...
25274  44.827321 -93.317043
25275  40.688873 -74.018213
25276  38.804840 -77.046920
25277        NaN        NaN
25278  39.199038 -76.841517

[23277 rows x 2 columns]

In [7]:
df.isna().sum()

latitude     1148
longitude    1148
dtype: int64

In [9]:
df = df.dropna()

In [ ]:
df