In [1]:
import pandas as pd

In [ ]:
df = pd.read_parquet('../Data/Indeed/clean_location.parquet')

In [2]:
add_df = pd.read_csv('../Data/Indeed/merged.tsv', sep='\t')

In [5]:
add_df

,location,values,latitude,longitude,region,county,locality
0,"Arlington, VA","{'latitude': 38.864458, 'longitude': -77.09963...",38.864458,-77.099638,Virginia,Arlington County,Arlington
1,"Atlanta, GA","{'latitude': 33.769805, 'longitude': -84.41458...",33.769805,-84.414581,Georgia,Fulton County,Atlanta
2,"Highland Heights, KY","{'latitude': 39.03711, 'longitude': -84.456707...",39.037110,-84.456707,Kentucky,Campbell County,Highland Heights
3,"Edmeston, NY 13335","{'latitude': 42.70226, 'longitude': -75.248224...",42.702260,-75.248224,New York,Otsego County,Edmeston
4,"Baltimore, MD 21211","{'latitude': 39.319732, 'longitude': -76.64953...",39.319732,-76.649533,Maryland,City of Baltimore,Baltimore
...,...,...,...,...,...,...,...
6957,"Columbus, OH 43085","{'latitude': 39.980761, 'longitude': -82.98533...",39.980761,-82.985331,Ohio,Franklin County,Columbus
6958,"Neenah, WI 54957","{'latitude': 44.167472, 'longitude': -88.47158...",44.167472,-88.471588,Wisconsin,Winnebago County,Neenah
6959,"Ladera Ranch, CA","{'latitude': 33.549803, 'longitude': -117.6436...",33.549803,-117.643641,California,Orange County,Ladera Ranch
6960,"Marlborough, MA 01752 (Williams Street area)","{'latitude': 42.350032, 'longitude': -71.54680...",42.350032,-71.546809,Massachusetts,Middlesex County,Marlborough
6961,"Chicago, IL 60605","{'latitude': 41.87897, 'longitude': -87.66063,...",41.878970,-87.660630,Illinois,Cook County,Chicago

In [11]:
add_df.loc[add_df['location'] == 'Arlington, VA']['latitude'].values

array([38.864458])